.idea/
.sonar/
.gradle/
/build/
/gradle/
*/target/
/gradlew
gradlew.bat
*.class
*.iml
*.iws
/log/
*.log
*.ipr
ora-create-all.sql
ora-drop-all.sql
h2-create-all.sql
h2-drop-all.sql
adcloud-create-all.sql
adcloud-drop-all.sql
rmp-create-all.sql
rmp-drop-all.sql
sonar-create-all.sql
sonar-drop-all.sql
/lib/
.DS_Store