<?xml version='1.0' encoding='UTF-8'?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.han.createbankrecfileapi.mapper.SingleTransReturnResultFixMapper">
    <resultMap id="singletransreturnresultfix" type="com.han.createbankrecfileapi.dto.SingleTransReturnResultFix">
        <id column="URID" property="Urid"></id>
        <result column="ENTERPRISENUM" property="EnterpriseNum"></result>
        <result column="CUSTACCNUM" property="CustAccNum"></result>
        <result column="STATE" property="State"></result>
        <result column="CODE" property="Code"></result>
        <result column="INFO" property="Info"></result>
        <result column="USERINFO" property="UserInfo"></result>
    </resultMap>

    <select id="selectAll" resultMap="singletransreturnresultfix">
        SELECT * FROM SINGLETRANSRETURNRESULT_FIX
    </select>

    <select id="selectResByEnterAndCustAcc"  resultMap="singletransreturnresultfix">
        SELECT * FROM SINGLETRANSRETURNRESULT_FIX WHERE ENTERPRISENUM = #{p_EnterpriseNum,jdbcType=VARCHAR} AND CUSTACCNUM = #{p_CustAccNum,jdbcType=VARCHAR}
    </select>

    <select id="selectResByUserId" resultMap="singletransreturnresultfix">
        SELECT * FROM SINGLETRANSRETURNRESULT_FIX WHERE USERID = #{p_UserId,jdbcType=VARCHAR}
    </select>

    <select id="selectResByUrid" resultMap="singletransreturnresultfix">
        SELECT * FROM SINGLETRANSRETURNRESULT_FIX WHERE URID = #{p_Urid,jdbcType=INTEGER}
    </select>
</mapper>